@import "../../vars.css";

/* Container styling */
.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #4CAF50 0%, #194d25 100%); /*gradient green background*/
    box-shadow: 0 16px 14px 0 #04152d; /*shadow around the container*/
    padding: 18px 24px;
    max-width: 400px;
}


/*each project image styling */
.image{
    max-width: 100%;  
    max-height: 100%;
    width: auto; /*automatically adjust width*/
    height: auto; /*automatically adjust height*/
    margin-bottom: 26px;
    border-radius: 20px;
}


/* title styling */
.title
{
    font-size: 25px;
    font-weight: 700;
}


/* project description styling */
.description{
    margin-top: 6px;
    font-weight: 400;
    font-size: 25px;

}


/* skills styling */
.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap; /*wrap skills to the next line if there is no space*/
    gap: 6px;
    list-style: none; /*remove bullet points*/

}


/* each skill styling */
.skill{
    font-size: 20px; /*font-size for the skill name*/
    font-weight: 400;
    border-radius: 100px; /*creates the round corners*/
    background-color: green;
    padding: 2px 20px;
}


/* links styling */
.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around; /* Evenly distribute items horizontally */
}

/* Individual link styling*/
.link{
    text-decoration: none; /*no underline is displayed*/
    color: var(--text-color); /*use the variable for text color*/
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background-color: var(--primary-color); /*variable for background color used for each link*/
    padding: 1px 22px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.30); /*shadow around each link*/
}

/*link styling on hover*/
 .link:hover{
    background-color: var(--secondary-color); /*the color changes for each link when hovered*/

 }

 /*Responsive styling for devices with max width of 830px*/
@media screen and (max-width:830px){
    .link{
        margin: 5px; /*the link margin is changedto 5px, so they are not too close*/
    }
    
}





