@import "./vars.css"; /* Importing CSS variables from vars.css for consistent theming */

.App{
    background-color: var(--bg-color); /* Setting the background color using a custom variable */
    width: 100%;  /* Setting the width to 100% of the parent container */
    height: 100%;  /* Setting the height to 100% of the parent container */
    overflow: hidden; /* Hiding any overflowing content to prevent scrollbars */

}