*{
  box-sizing: border-box; /* Apply border-box sizing model to all elements */
  margin: 0; /* Remove default margin from all elements */
  padding: 0; /* Remove default padding from all elements */
  font-family: "Outfit", Arial, Helvetica, sans-serif; /* Set default font family to Outfit, with fallbacks to Arial, Helvetica, and generic sans-serif */
}

html{
  scroll-behavior: smooth; /* Enable smooth scrolling for anchor links and other scrollable actions */
}

