@import '../../vars.css';


.container{
    color: var(--text-color);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;

}
.title{
    color: var(--text-color);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    gap: 10px;
}

.skill{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 11px;
    margin-right: 10px;
    margin-left: 10px;
}

.skillImgContainer{
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.skillImgContainer img{
    width: 75px;
}

.skill p{
    font-size: 25px;
    font-family: var(--main-font);
    font-weight: 500;
}

.skill + .skill + .skill + .skill + .skill + .skill{
    margin-bottom: 800px;
}

.history{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 40px;
}

.historyItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: linear-gradient(90deg, #194d25, rgba(25, 77, 37, 0) 100%);
    border-radius: 10px;
    padding: 24px;

}

.historyItem img{
    width: 200px;
    height: auto;

}

.historyItemInfo{

    font-family: var(--main-font);
}

.historyItemInfo h3{
    font-size: 25px;
    font-weight: 300;

}

.historyItemInfo ul{
    margin-top: 6px;
    list-style-position: inside;
    list-style: disc;
    font-size: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 830px){
    .content{
        flex-direction: column;
        align-items: center;
        gap: 34 px; 
    }

    .skills{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    .skill + .skill + .skill + .skill + .skill + .skill{
        margin-bottom: auto;
    }

    .history{
        width: 100%;
        gap: 9px;
    }
    
}